*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
}

/* --- clases generales --- */

.contenedor{
    display: flex;
    flex-wrap: wrap;
}

/* --- cabezal --- */

header{
    width: 100%;
    padding: 15px 30px;
    color: #FFF7EC;
    background-color: #422B23;
    font-size: 1.5rem;
}

/* --- barra lateral --- */

aside{
    flex: 15%;
    color: #422B23;
    height: auto;
    padding: 30px 10px;
    background-color: #FFF7EC;
}
aside ul{
    list-style: none;
}
aside li,b{
    padding: 10px 20px;
    margin-top: 5px;
}
aside li:hover{
    color: #FFF7EC;
    background-color: #422B23;
    border-radius: 10px;
}

/* --- contenido --- */

main{
    flex: 85%;
    height: 100%;
    color: #422B23;
    padding: 30px;
}
form{
    display: flex;
    margin-top: 20px;
    background-color: #FFF7EC;
    padding: 20px;
    border-radius: 15px;
}
.row{
    flex: 25%;
}
.ingreso-info,.select{
    background-color: #FFF7EC;
    width: 300px;
    height: 30px;
    margin-top: 10px;
    border: 2px solid #422B23;
    border-radius: 5px;
}
.content-tabla{
    background-color: #FFF7EC;
    padding: 20px;
    border-radius: 15px;
}
.tabla{
    width: 100%;
    height: auto;
}
.tabla th{
    text-align: center;
    border-bottom: 2px solid #422B23;
}
td{
    padding: 5px 0px;
}
.cabezal-menu{
    display: flex;
    justify-content: space-between;
}
.columEditar{
    text-align: center;
}
.editar{
    color: #FFF7EC;
    background-color: #422B23;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    transition: 1s;
}
.editar:hover{
    background-color: #FFF7EC;
    color: #422B23;
    border: 2px solid #422B23;
}
.activo{
    color: #422B23;
    background-color: #EFD8D6;
    width: 80px;
    height: 30px;
    border-radius: 10px;
    transition: 1s;
    border: 0px;
}
.activo:hover{
    background-color: #422B23;
    color: #FFF7EC;
}

/* --- productos --- */

.input {
  display: none;
}
.boton {
  background-color: #422B23;
  color: #FFF7EC;
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  display: inline-block;
}
.boton:hover {
  background-color: #FFF7EC;
  color: #422B23;
  border: 2px solid #422B23;
}

/* --- Pedidos --- */

.totalpedidos{
    display: flex;
    gap: 20px;
    text-align: center;
    color: #422B23;
}
.miniCardPe{
    background-color: #FFF7EC;
    padding: 20px;
    border-radius: 10px;
}

.seccion-panel{
    display: none; /* Oculta todas las secciones del panel por defecto */
}

.seccion-activa{
    display: block; /* Muestra solamente la sección seleccionada */
}

.opcion-panel{
    cursor: pointer; /* Hace que el mouse indique que la opción se puede presionar */
}

.activo-panel{
    color: #FFF7EC; /* Cambia el color del texto de la opción activa */
    background-color: #422B23; /* Cambia el fondo de la opción activa */
    border-radius: 10px; /* Redondea las esquinas de la opción activa */
}

.content-tabla{
    background-color: #422B23;
    color: #FFF7EC;
    padding: 20px 20px 5px 20px;
    border-radius: 15px;
}
.tabla{
    width: 100%;
    height: auto;
}
.tabla th{
    text-align: center;
    border-bottom: 2px solid #FFF7EC;
}
td{
    padding: 5px 0px;
    border-bottom: 1px solid #5a392e;
}